#chart-wrap {
    width: 50%;
    min-width: 600px;
    height: calc(100% - 1px);

    > div.chart-wrap-header {
        border-bottom: none;
    }

    > div#content-chart {
        width: calc(100% - 2px);
        height: calc(100% - 192px);
    }
}

@media screen and (max-width: 1200px) {
    #chart-wrap {
        width: 100%;
        min-width: 0;
        height: 800px;
    }
}
