@import "../../../../common";

.container-wrap.options {
    height: 233px;

    .container {
        height: calc(100% - 20px) !important;
        padding: 10px 20px;
    }
}

@media screen and (max-width: $reactive-max-width) {
    .container-wrap.options {
        height: unset;
    }
}
