#side_header {
    width: 100% !important;
    min-width: 200px !important;
    height: 100%;

    thead th,
    tbody td {
        text-align: center;
    }

    tbody td {
        &:first-child {
            height: 100%;
        }

        &:not(:first-child) {
            height: fit-content;
        }
    }

    .opt-head {
        height: 35px;
        color: #404040;
        background-color: #f1f1f1;
    }

    .opt-body {
        vertical-align: top;
        height: calc(100% - 50px);

        ul li {
            padding: 10px 10px 0;

            > * {
                width: calc(100% + 0px);
                height: 100%;
                padding: 7px 0;
            }
        }
    }
}
