#side_header {
    width: 100% !important;
    min-width: 150px !important;
    height: 100%;

    thead th,
    tbody td {
        text-align: center;
    }

    tbody td {
        &:first-child {
            height: 100%;
        }

        &:not(:first-child) {
            height: fit-content;
        }
    }

    .opt-head {
        font-size: 12px;
        text-align: left;
        background-color: white;
        color: black;
        height: 25px;
        border-top: {
            left-radius: 10px;
            right-radius: 10px;
        };
        padding: 5px 10px;
        transform: rotate(0.03deg);
    }

    .opt-body {
        vertical-align: top;
        background-color: white;
        height: calc(100% - 50px);
        border-bottom: {
            left-radius: 10px;
            right-radius: 10px;
        };

        ul li {
            padding: 10px 10px 0;

            > * {
                width: calc(100% + 0px);
                height: 100%;
                padding: 7px 0;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #side_header .opt-body {
    }
}
