$border: 1px solid #a5a5a5;

#selected-stations {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    border-radius: 10px;

    > table {
        height: 130px !important;

        .opt-head {
            font-size: 12px;
            text-align: left;
            background-color: white;
            color: #404040;
            height: 25px;
            border-top: {
                left-radius: 10px;
                right-radius: 10px;
            };
            border-bottom: 1px solid #e0e0e0;
            padding: 5px 10px;
            transform: rotate(0.03deg);
        }

        .opt-body {
            overflow: hidden;
            background-color: white;
            height: fit-content;
            border-bottom: {
                left-radius: 10px;
                right-radius: 10px;
            };

            ul {
                height: fit-content;
                padding: 10px;

                li {
                    position: relative;
                    text-align: left;
                    font-size: 10px;
                    color: #404040;
                    border: $border;
                    border-radius: 10px;
                    padding: 10px !important;
                    cursor: pointer;
                    transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s, color 0.2s;

                    * {
                        padding: 0 !important;
                    }

                    span.close {
                        position: absolute;
                        left: calc(100% - 25px);
                        color: transparent;
                        transition: color 0.2s;
                    }

                    &:hover {
                        color: black;
                        border-color: #59acff;
                        box-shadow: 0 0 3px 2px #59acff;

                        span.close {
                            color: black;
                        }
                    }

                    &:active {
                        background-color: #e8e8e8;
                    }
                }
            }
        }
    }
}
