@import "../../common";

#statistics {
    display: flex;
    width: 100%;

    > div {
        flex: 1;
        width: 50%;
    }
}

@media screen and (max-width: $reactive-max-width) {
    #statistics {
        display: block;

        > div {
            width: 100%;
        }
    }
}
