@import "../../common";

#statistics {
    display: flex;
    width: 100%;

    > div {
        flex: 1;

        &:first-child > div {
            &:first-child {
                position: relative;
                display: flex;
                height: calc(100% - 50px);

                > div {
                    &:first-child {
                        width: calc(100% - 180px);
                    }

                    &:last-child {
                        width: 180px;
                    }
                }
            }

            &:last-child {
                text-align: center;
                height: 50px;
            }
        }
    }
}

@media screen and (max-width: $reactive-max-width) {
    #observation {
        display: block;
        min-width: 320px;
    }
}
