HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

generated/

.DS_Store
**/node_modules/
!**/node_modules/@fortawesome/free-soild-svg-icons/faChartNetwork.js
!**/node_modules/@fortawesome/free-soild-svg-icons/faChartNetwork.d.ts
!**/node_modules/@fortawesome/free-soild-svg-icons/faChartScatter.js
!**/node_modules/@fortawesome/free-soild-svg-icons/faChartScatter.d.ts
!**/node_modules/@fortawesome/free-soild-svg-icons/faSpinnerGradient.js
!**/node_modules/@fortawesome/free-soild-svg-icons/faSpinnerGradient.d.ts
!**/node_modules/@fortawesome/free-soild-svg-icons/index.js
!**/node_modules/@fortawesome/free-soild-svg-icons/index.es.js
!**/node_modules/@fortawesome/free-soild-svg-icons/index.d.ts
**/dist/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/static/
