@import "../../../../../common";

.container-wrap.items {
    height: calc(100% - 263px);

    .item-btn {
        background-color: #0084de;

        &:hover {
            background-color: #41a7ef;
        }

        &:active {
            background-color: #0069af;
        }

        &.on {
            background-color: #ebf8ff;
            color: #0084de !important;
            box-shadow: 0 0 4px 1px #41a7ef;
        }
    }
}
