#map {
    position: relative;
    top: -1px;
    width: 100%;
    height: calc(100% - 2px);
    border-radius: 10px;
}

div.map > div:nth-child(2) > div:nth-child(2) {
    display: none;
}

.overlay {
    font-size: 12px;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    cursor: default;
    width: fit-content;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.54);

    h4 {
        font-size: 15px;
    }
}

.overlay p, .overlay h1, .overlay h2, .overlay h3, .overlay h4, .overlay h5, .overlay h6 {
    margin: 0;
}

.overlay-parent {
    margin: -15px 0 0 5px !important;
}
