#map {
    position: relative;
    top: -1px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    margin: 0 auto;

    > div {
        height: 100% !important;
    }
}

//div.map > div:nth-child(2) > div:nth-child(2) {
//    display: none;
//}

.overlay {
    font: 12px 'NanumSquare Regular';
    background-color: white;
    padding: 5px;
    cursor: default;
    width: fit-content;

    h4 {
        font-size: 15px;

        ~ div {
            margin-top: 5px;

            > div {
                margin-top: 2px;
                transform: rotate(0.03deg);
            }
        }
    }

    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    &-parent {
        margin: -10px 0 0 5px !important;
    }
}

@media screen and (max-width: 1200px) {
    #map {
        height: 500px;
    }
}
