#map {
    position: relative;
    top: -1px;
    width: 100%;
    height: calc(100% - 20px);
    border-radius: 10px;

    > div {
        height: 100% !important;

        > div:first-child {
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}

.overlay {
    font: 12px 'NanumSquare Regular';
    background-color: white;
    padding: 5px;
    cursor: default;
    width: fit-content;

    h4 {
        font-size: 15px;

        ~ div {
            margin-top: 5px;

            > div {
                margin-top: 2px;
                transform: rotate(0.03deg);
            }
        }
    }

    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    &-parent {
        margin: -10px 0 0 5px !important;
    }
}

@media screen and (max-width: 1200px) {
    #map {
        height: 500px;

        > div.map {
            display: flex;

            > div:last-child {
                font: 36px 'NanumSquare Extra Bold';
                color: #a5a5a5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px 0 10px 10px;
            }
        }
    }
}
