.item-tooltip {
    position: absolute;
    flex-direction: column;
    background-color: white !important;
    box-shadow: 2px 2px 4px 1px #aaaaaa;
    width: 100px !important;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    opacity: 1;
    z-index: 999;

    > div {
        display: block;
        text-align: center;
        font-size: 13px;
        padding: 7px 15px !important;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s, opacity 0.15s;

        &:hover {
            background-color: #2e85cb;
            color: white;
        }

        &.disabled {
            color: #b3b3b3;
            background-color: white;
            cursor: default;
        }

        &:first-child {
            border-top: {
                left-radius: 10px;
                right-radius: 10px;
            };
        }

        &:last-child {
            border-bottom: {
                left-radius: 10px;
                right-radius: 10px;
            };
        }
    }

    > hr {
        margin: 0;
    }
}
