#selected-stations {
    .opt-head {
        border-top: 1px solid #a5a5a5;
        border-bottom: 1px solid #a5a5a5;
        border-right: 1px solid #a5a5a5;
    }

    .opt-body {
        border: 1px solid #a5a5a5;
        border-left: none;

        ul {
            height: calc(100% - 20px);
            padding: 10px;

            li {
                position: relative;
                text-align: left;
                font-size: 14px;
                color: #404040;
                border: 1px solid #a5a5a5;
                border-radius: 10px;
                padding: 10px !important;
                margin-bottom: 15px;
                cursor: pointer;
                transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s, color 0.2s;

                * {
                    padding: 0 !important;
                }

                span.close {
                    position: absolute;
                    left: calc(100% - 25px);
                    color: transparent;
                    transition: color 0.2s;
                }

                &:hover {
                    color: black;
                    border-color: #59acff;
                    box-shadow: 0 0 3px 2px #59acff;

                    span.close {
                        color: black;
                    }
                }

                &:active {
                    background-color: #e8e8e8;
                }
            }
        }
    }
}
