#observation {
    display: flex;
    width: 100%;

    > * {
        flex: 1;
    }

    > table {
        width: 50%;

        > colgroup col {
            &:nth-child(1) {
                width: calc(50% - 200px);
            }

            &:nth-child(2) {
                width: 200px;
            }
        }

        &:first-child tfoot td {
            text-align: center;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                height: 40px;
                padding: 10px 0;
            }

            input[type=button] {
                font: 18px 'NanumSquare';
                font-weight: bold;
                background-color: #424242;
                color: white;
                width: 120px;
                border: none;
                border-radius: 10px;
                margin: 6px;
                padding: 7px 10px;
                transition: background-color 0.1s, color 0.1s;

                &:hover {
                    background-color: #787878;
                }

                &:active {
                    background-color: #1c1c1c;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #observation {
        display: block;

        > table:first-child tfoot td input[type=button] {
            width: calc(100% - 20px);
            padding: 10px;
        }
    }
}
