#y-axis .opt-body ul li > div {
    position: relative;
    font-size: 10pt !important;
    color: #6e36ff;
    border: 1px solid #8053f3;
    background-color: #ebe3ff;
    transition: color 0.1s, border 0.1s, background-color 0.1s;
    cursor: pointer;
}

#y-axis .opt-body ul li > div:hover {
    color: #895cff;
    border: 1px solid #9a7bf3;
    background-color: #faf7ff;
}

#y-axis .opt-body ul li > div:active {
    color: #541bea;
    border: 1px solid #6838e2;
    background-color: #d5c9ff;
}

#y-axis .opt-body ul li > div.on {
    color: #ebe3ff;
    border: 1px solid #6e36ff;
    background-color: #6e36ff;
}

#y-axis .opt-body ul li span {
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 13pt;
    width: fit-content;
    height: fit-content;
    color: #ebe3ff;
    transition: color 0.1s;
}

#y-axis .opt-body ul li > div:hover > span {
    color: #895cff;
}
