$table-color: #00c3dc;

div.container-wrap.chart {
    position: relative;
    height: calc(100% - 60px);

    div.container {
        padding: 20px;

        &.chart {
            height: 103px;

            .info {
                display: flex;

                > div {
                    color: white;
                    border-radius: 10px;
                    padding: 15px;

                    &:nth-child(1) {
                        flex: 2;
                        background-color: #59a0e9;
                        margin: 0 10px 10px 0;
                    }

                    &:nth-child(2) {
                        flex: 2;
                        background-color: #637ebd;
                        margin: 0 10px 10px 10px;
                    }

                    &:nth-child(3) {
                        flex: 3;
                        background-color: #515f7e;
                        margin: 0 0 10px 10px;
                    }

                    h2 {
                        text-align: right;
                        margin-top: 15px;
                    }
                }
            }

            .timeseries, .comparison {
                //width: calc(100% - 60px);
                height: calc(50% - 155px);
                padding: 50px 30px;

                > div {
                    width: calc(100% - 60px);
                    height: 100%;
                }
            }

            .timeseries {
                //background-color: #29ac1e;
            }

            .comparison {
                background-color: #2e85cb;
            }
        }

        &#no-data {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #a5a5a5;
            font-weight: bold;
            letter-spacing: -2px;
        }
    }
}
