@import "../../common";

#verification {
    display: flex;
    width: 100%;

    > div {
        flex: 1;
    }
}

@media screen and (max-width: $reactive-max-width) {
    #verification {
        display: block;
        min-width: 320px;
    }
}
