#select-datetime {
    padding: 20px 0;

    td {
        position: relative;
        border: none !important;
        padding: 10px !important;

        &:first-child {
            text-align: right;
            font-size: 12px;
            transform: rotate(0.03deg);
        }

        &:last-child div.mx-datepicker {
            width: 145px;

            input.mx-input {
                font: 11px 'NanumSquare';
                font-weight: bold;
                height: 30px;
                border: {
                    radius: 5px;
                    color: #9c9c9c;
                };
                transform: rotate(0.03deg);

                &:hover {
                    border: 1px solid #409aff;
                }
            }
        }

        svg.fa-question-circle {
            position: relative;
            top: 2px;
            color: #005fb4;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        input[type=button].now-btn {
            font-weight: normal;
            background-color: #005fb4;
            color: white;
            height: 100%;
            border: none;
            border-radius: 5px;
            padding: 7px 9px;
            transition: background-color 0.15s;
            transform: rotate(0.03deg);

            &:hover {
                background-color: #2479c6;
            }
            &:active {
                background-color: #004686;
            }
        }

        div.help-tooltip {
            position: absolute;
            top: 25px;
            left: 428px;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.4em;
            background-color: white;
            color: #444444;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 99999;
            overflow-x: hidden;
            width: fit-content;
            max-height: 200px;
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            padding: 10px;

            ul {
                margin-top: 5px;

                li {
                    font-size: 11px;
                    border-radius: 3px;
                    margin: 3px 0;
                    padding: 2px 5px;
                    cursor: pointer;
                    transition: background-color 0.15s, color 0.15s;

                    &:hover {
                        background-color: #005fb4;
                        color: white;
                    }

                    &:active {
                        background-color: #55a3e8;
                    }
                }
            }
        }
    }

    select {
        position: relative;
        top: -1px;
        font: 11px 'NanumSquare';
        font-weight: bold;
        width: 70px;
        height: 30px;
        border: 1px solid #9c9c9c;
        border-radius: 5px;
        padding: 5.5px;
        cursor: pointer;
        transform: rotate(0.03deg);

        &:hover {
            border: 1px solid #409aff;
        }
    }
}

@media screen and (max-width: 1200px) {
    #select-datetime td {
        padding: 5px !important;

        div.help-tooltip {
            position: fixed;
            top: 150px;
            left: 0;
            width: calc(100% - 62px);
            margin: 0 20px;
        }
    }
}
