@import "../../../../../common";

.container-wrap.items {
    height: calc(100% - 263px);

    .item-btn {
        background-color: #0084de;

        &:hover {
            background-color: #41a7ef;
        }

        &:active {
            background-color: #0069af;
        }

        &.datetime, &.windDirection {
            background-color: #f8f8f8;
            color: #404040 !important;
            border: 1px solid #a5a5a5 !important;
        }

        &.datetime:hover, &.windDirection:hover {
            background-color: white;
            color: #666666;
            border-color: #c6c6c6;
        }

        &.datetime:active, &.windDirection:active {
            background-color: #f1f1f1;
            color: #363636;
            border: 1px solid #7d7d7d;
        }

        &.datetime.on, &.windDirection.on {
            background-color: #7f7f7f;
            color: white;
            border-color: #7f7f7f;
        }
    }
}

@media screen and (max-width: $reactive-max-width) {
    .container-wrap.items .container {
        height: 310px !important;
    }
}
