@import "../../../../../common";

.container-wrap.items {
    height: 100%;

    .item-btn {
        background-color: #0084de;

        &:hover {
            background-color: #41a7ef;
        }

        &:active {
            background-color: #0069af;
        }

        &.on {
            background-color: #41a136;
        }

        &.on:hover {
            background-color: #65d059;
        }

        &.on:active {
            background-color: #2f7226;
        }
    }
}

@media screen and (max-width: $reactive-max-width) {
    .container-wrap.items .container {
        height: 310px !important;
    }
}
