#x-axis {
    height: 110px !important;

    .opt-head {
        border-top: 1px solid #a5a5a5;
        border-bottom: 1px solid #a5a5a5;
    }

    .opt-body {
        position: relative;

        ul li {
            > div {
                position: relative;
                font-size: 10pt !important;
                color: #d75500;
                border: 1px solid #ff7a5a;
                background-color: #fffaf9;
                transition: color 0.1s, border 0.1s, background-color 0.1s;
                cursor: pointer;

                &:hover {
                    color: #ff7a25;
                    border: 1px solid #ffa590;
                    background-color: #ffffff;

                    > span {
                        color: #ff7a25;
                    }
                }
                &:active {
                    color: #af4400;
                    border: 1px solid #ff572e;
                    background-color: #ffebe6;
                }
                &.on {
                    color: #fffaf9;
                    border: 1px solid #d75500;
                    background-color: #d75500;
                }
            }

            span {
                position: absolute;
                top: 4px;
                right: 7px;
                font-size: 13pt;
                width: fit-content;
                height: fit-content;
                color: #fffaf9;
                transition: color 0.1s;
            }
        }
    }
}
