@import "../../../common";

#chart-wrap {
    width: 100%;
    height: 100%;

    > div.chart-wrap-header {
        border-bottom: none;
    }

    > div#content-chart {
        width: calc(100% - 2px);
        height: calc(100% - 192px);
    }
}
