#chart-wrap {
    width: 50%;
    min-width: 900px;
    height: calc(100% - 2px);
    border: {
        top: 1px solid #a5a5a5;
        right: 1px solid #a5a5a5;
        bottom: 1px solid #a5a5a5;
    }
}
