@import "../../../../../common";

$color: #01947a;
$background: #ebfcf8;
$hover: #53d4bd;
$active: #006f5b;

#category {
    position: relative;
    left: -0.5px;
    width: calc(100% - 1px);
    height: fit-content;
    border-top: none !important;
    border-bottom: none !important;
    margin-top: 25px;

    ul {
        display: flex;
        margin-top: 5px;

        li {
            text-align: center;
            width: 100%;
            margin: 0 auto;
        }
    }

    input[type=button] {
        font: {
            size: 11px;
            family: 'NanumSquare';
        };
        background-color: #5cc8ff;
        color: white;
        width: calc(100% - 14px);
        border: none;
        border-radius: 15px;
        margin: 0 7px;
        padding: 8px 0;
        transition: background-color 0.15s;
        transform: rotate(0.03deg);

        &:hover {
            background-color: #93d8ff;
        }

        &:active {
            background-color: #43a0ce;
        }

        &.on {
            background-color: #244aa8;
        }
    }

    button {
        font: {
            size: 11px;
            family: 'NanumSquare';
            weight: bold;
        };
        background-color: white;
        color: black;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        width: calc(100% - 13px);
        height: 38px;
        border: 5px solid white;
        border-radius: 30px;
        margin: 6px;
        padding: 3px;
        cursor: pointer;
        transition: border 0.1s;
        transform: rotate(0.03deg);

        &:hover,
        &.on {
            border: 5px solid #73BFE6;
        }

        span {
            vertical-align: middle;
            margin: 0 2px;

            &.airkorea,
            &.kt,
            &.sDoT,
            &.observer {
                display: inline-block;
                background: {
                    position: center;
                    size: auto;
                    repeat: no-repeat;
                };
            }

            &.airkorea {
                background: {
                    image: url('../../../../../assets/img/airkorea.png');
                    size: calc(32px * 0.5) calc(30px * 0.5);
                };
                width: calc(32px * 0.8);
                height: calc(30px * 0.8);
            }

            &.kt {
                background: {
                    image: url('../../../../../assets/img/kt.png');
                    size: calc(30px * 0.5) calc(29px * 0.5);
                };
                width: calc(30px * 0.8);
                height: calc(29px * 0.8);
            }

            &.sDoT {
                background: {
                    image: url('../../../../../assets/img/sDoT.png');
                    size: calc(24px * 0.5) calc(26px * 0.5);
                };
                width: calc(24px * 0.8);
                height: calc(26px * 0.8);
            }

            &.observer {
                background: {
                    image: url('../../../../../assets/img/observer.png');
                    size: calc(31px * 0.5) calc(30px * 0.5);
                };
                width: calc(31px * 0.8);
                height: calc(30px * 0.8);
            }
        }
    }

    .org-wrap {
        display: grid;
        grid-template: {
            columns: 80px calc(100% - 80px);
            rows: repeat(2, 1fr);
        };

        .label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            text-align: right;
            font: 12px 'NanumSquare';
            font-weight: bold;
            color: #555555;
            letter-spacing: -1;
            padding-right: 10px;
            transform: rotate(0.03deg);
        }
    }
}

@media screen and (max-width: $reactive-max-width) {
    #category .org-wrap {
        grid-template: {
            columns: 80px calc(100% - 80px);
            rows: calc(1fr / 3) 1fr;
        };
        margin-top: 10px;

        .label {
            justify-content: center;
            border-radius: 10px;
            margin: 5px 10px 0 0;
            padding-left: 10px;

            &:first-child {
                background-color: #59a0e9;
                color: white;
            }

            &:nth-child(3) {
                background-color: #637ebd;
                color: white;
            }
        }

        ul {
            flex-direction: column;
        }
    }
}
