#content-wrap {
    width: calc(50% - 600px);
    min-width: 835px;
    height: 100%;

    > table > thead > tr > th {
        text-align: left;
        width: calc(100% - 1px);
        height: calc(290px - 36px) !important;
        border: {
            top: 1px solid #a5a5a5;
            left: 1px solid #a5a5a5;
            right: 1px solid #a5a5a5;
        };
        margin: 0;
        padding: 0;

        > div {
            height: 100%;

            > div {
                display: inline-block;
                height: 100%;
            }
        }

        table {
            border-collapse: collapse;
            border: none !important;

            th {
                border-collapse: collapse;
                border: none !important;
                text-align: left;
            }
        }
    }

    .map {
        .map-data {
            height: calc(100% - 55px);
            border: 1px solid #a5a5a5;
        }
    }

    > table > tbody > tr:last-child > td {
        text-align: center;
        height: 50px;
        border: 1px solid #a5a5a5;

        input[type=button] {
            font-size: 20px;
            background: transparent;
            color: #2f2f2f;
            width: 180px;
            border: 1px solid #2f2f2f;
            margin: 6px;
            padding: 7px 10px;
            transition: background-color 0.1s, color 0.1s;

            &:hover {
                background-color: #2f2f2f;
                color: white;
            }

            &:active {
                background-color: black;
            }
        }
    }
}
