#layout {
    display: flex;
    font-family: "NotoSansKR Medium", serif;
    background-color: white;
    height: calc(100% - 20px);
    padding: 10px;

    select, input {
        font-family: "NotoSansKR Medium", serif;
    }

    input[type=button] {
        cursor: pointer;
    }

    input.mx-input {
        border-radius: 0;
        cursor: pointer;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;

        thead th, tbody td {
            //border: 1px solid #a5a5a5;
        }

        tbody td {
            padding: 0;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    div.vue-slider {
        &.vue-slider-ltr {
            position: relative;
            left: 10px;
            padding: 0 !important;
        }

        &-rail {
            cursor: pointer;
        }

        &-mark-label {
            font-size: 10px;
        }
    }

    .content .map .map-data {
        height: calc(100% - 48px);
    }
}
