@font-face {
    font-family: 'KoPub Dotum Bold';
    src: url('./assets/font/KoPub Dotum Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'KoPub Dotum Medium';
    src: url('./assets/font/KoPub Dotum Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'KoPub Dotum Light';
    src: url('./assets/font/KoPub Dotum Light.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR Black';
    src: url('./assets/font/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR Bold';
    src: url('./assets/font/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR Light';
    src: url('./assets/font/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR Medium';
    src: url('./assets/font/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR Regular';
    src: url('./assets/font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR Thin';
    src: url('./assets/font/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'NanumSquare_ac Bold';
    src: url('./assets/font/NanumSquare_acB.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    border: {
        top: 0.001em solid #dbdbdb;
        bottom: none;
        left: none;
        right: none;
    }
    margin: 4px 0;
}

input,
select,
textarea {
    outline: none;
}

#app {
    height: 100%;
}

.scroll {
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 13px;
        height: 13px;
        cursor: pointer;
        background-color: transparent;
    }
    &::-webkit-scrollbar-corner {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        background: {
            color: #bdbdbd;
            clip: padding-box;
        };
        border: {
            width: 4px;
            style: solid;
            color: transparent;
            radius: 20px;
        }
        cursor: pointer;
        -webkit-transition: background-color 0.5s;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.text-no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
