@font-face {
    font-family: 'NanumSquare';
    font-weight: bold;
    src: url('./assets/font/NanumSquareB.ttf') format('truetype'),
        url('./assets/font/NanumSquareR.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 900;
    src: url('./assets/font/NanumSquareEB.ttf') format('truetype'),
        url('./assets/font/NanumSquareR.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 100;
    src: url('./assets/font/NanumSquareL.ttf') format('truetype'),
        url('./assets/font/NanumSquareR.eot#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: normal;
    src: url('./assets/font/NanumSquareR.ttf') format('truetype'),
        url('./assets/font/NanumSquareR.eot#iefix') format('embedded-opentype');
}

html, body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    border: {
        top: 0.001em solid #dbdbdb;
        bottom: none;
        left: none;
        right: none;
    }
    margin: 4px 0;
}

input,
select,
textarea {
    outline: none;
}

#app {
    height: 100%;
}

@media screen and (max-width: 1200px) {
    #app {
        height: fit-content;
    }
}

.scroll {
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 13px;
        height: 13px;
        cursor: pointer;
        background-color: transparent;
    }
    &::-webkit-scrollbar-corner {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        background: {
            color: #bdbdbd;
            clip: padding-box;
        };
        border: {
            width: 4px;
            style: solid;
            color: transparent;
            radius: 20px;
        }
        cursor: pointer;
        -webkit-transition: background-color 0.5s;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.text-no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
