$color: #01947a;
$background: #ecf9f7;
$hover: #1cad95;
$active: #006f5b;

#content-data {
    height: fit-content;
    border: 1px solid #a5a5a5;
    border-top: none;

    ul {
        display: flex;

        li {
            width: calc(100% / 5);
        }
    }

    input[type=button] {
        width: calc(100% - 13px);
        color: $color;
        background-color: $background;
        border: 1px solid $color;
        margin: 6px;
        padding: 10px;
        transition: color 0.1s, border 0.1s, background-color 0.1s;

        &:hover {
            color: $hover;
            border: 1px solid $hover;
            background-color: $background;
        }
        &:active {
            color: $active;
            border: 1px solid $active;
            background-color: $background;
        }
        &.on {
            color: $background;
            background-color: $color;
        }
    }
}
