#items {
    width: calc(100% + 1px) !important;
    height: 100% !important;
    border: {
        right: 1px solid #a5a5a5;
        bottom: 1px solid #a5a5a5;
    };

    .opt-head {
        font-size: 12px;
        color: #404040;
        background-color: #f1f1f1;
        height: 35px;
        border: {
            top: 1px solid #a5a5a5;
            bottom: 1px solid #a5a5a5;
        }
    }

    .opt-body {
        position: relative;
        vertical-align: top;
        padding: 10px;

        > div {
            position: relative;
            font-size: 11px !important;
            text-align: center;
            margin-bottom: 10px;
            padding: 10px;
            transition: color 0.1s, border 0.1s, background-color 0.1s;
            cursor: pointer;

            &.pm10 {
                color: #d75500;
                background-color: #fffaf9;
                border: 1px solid #ff7a5a;

                &:hover {
                    color: #ff7a25;
                    border: 1px solid #ffa590;
                    background-color: #ffffff;
                }
                &:active {
                    color: #af4400;
                    border: 1px solid #ff572e;
                    background-color: #ffebe6;
                }
                &.on {
                    color: #fffaf9;
                    border: 1px solid #d75500;
                    background-color: #d75500;
                }
            }
            &.pm25 {
                color: #6e36ff;
                border: 1px solid #8053f3;
                background-color: #ebe3ff;

                &:hover {
                    color: #895cff;
                    border: 1px solid #9a7bf3;
                    background-color: #faf7ff;
                }
                &:active {
                    color: #541bea;
                    border: 1px solid #6838e2;
                    background-color: #d5c9ff;
                }
                &.on {
                    color: #ebe3ff;
                    border: 1px solid #6e36ff;
                    background-color: #6e36ff;
                }
            }
        }
    }
}
