#layout {
    display: flex;
    height: calc(100% - 20px);
    padding: 10px;
    font-family: "KoPub Dotum Medium", serif;
}

#layout select,
#layout input {
    font-family: "KoPub Dotum Medium", serif;
}

#layout input[type=button] {
    cursor: pointer;
}

#layout table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#layout table tbody td {
    padding: 0;
}

#layout table tbody td,
#layout table thead th {
    border: 1px solid #a5a5a5;
}

#layout ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#layout input.mx-input {
    border-radius: 0;
    cursor: pointer;
}

#layout div.vue-slider.vue-slider-ltr {
    position: relative;
    left: 10px;
    padding: 0 !important;
}

#layout div.vue-slider-rail {
    cursor: pointer;
}

#layout .header {
    width: 600px;
    height: 100%;
}

#layout .header tbody td {
    height: 50%;
}

#layout .header thead th,
#layout .header tbody td {
    text-align: center;
}

#layout .header .opt-head {
    height: 50px;
    color: #404040;
    background-color: #f1f1f1;
}

#layout .header .opt-body {
    vertical-align: top;
    height: calc(100% - 50px);
}

#layout .header .opt-body ul li {
    padding: 10px 10px 0;
}

#layout .header .opt-body ul li > * {
    width: calc(100% + 0px);
    height: 100%;
    padding: 7px 0;
}

#layout .header .category .opt-body input[type=button] {
    color: #0084de;
    border: 1px solid #0084de;
    background-color: #e9f9ff;
    transition: color 0.1s, border 0.1s, background-color 0.1s;
}

#layout .header .category .opt-body input[type=button]:hover {
    color: #42b2ff;
    border: 1px solid #42b2ff;
    background-color: #e8f5ff;
}

#layout .header .category .opt-body input[type=button]:active {
    color: #0061a5;
    border: 1px solid #0061a5;
    background-color: #d4eaff;
}

#layout .header .category .opt-body input[type=button].on {
    color: #ecf9f7;
    background-color: #0084de;
}

#layout .header .category .opt-body > ul {
    height: calc(100% - 83px);
}

#layout .header .category .opt-body > div {
    display: flex;
    font-size: 16pt;
}

#layout .header .category .opt-body > div > div {
    width: 50%;
    color: #0dbb00;
    background-color: #f3fff3;
    border: 1px solid #0dbb00;
    padding: 30px 0;
    transition: background-color 0.4s, color 0.4s;
    cursor: pointer;
}

#layout .header .category .opt-body > div > div:hover {
    color: #f3fff3;
    background-color: #0dbb00;
}

#layout .header .category .opt-body > div > div:active {
    background-color: #006f5b;
    border: 1px solid #006f5b;
    transition: background-color 0.1s;
}

#layout .header .x-axis .opt-body {
    position: relative;
}

#layout .header .x-axis .opt-body ul li > div {
    position: relative;
    font-size: 10pt !important;
    color: #d75500;
    border: 1px solid #ff7a5a;
    background-color: #fffaf9;
    transition: color 0.1s, border 0.1s, background-color 0.1s;
    cursor: pointer;
}

#layout .header .x-axis .opt-body ul li > div:hover {
    color: #ff7a25;
    border: 1px solid #ffa590;
    background-color: #ffffff;
}

#layout .header .x-axis .opt-body ul li > div:active {
    color: #af4400;
    border: 1px solid #ff572e;
    background-color: #ffebe6;
}

#layout .header .x-axis .opt-body ul li > div.on {
    color: #fffaf9;
    border: 1px solid #d75500;
    background-color: #d75500;
}

#layout .header .x-axis .opt-body ul li span {
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 13pt;
    width: fit-content;
    height: fit-content;
    color: #fffaf9;
    transition: color 0.1s;
}

#layout .header .x-axis .opt-body ul li > div:hover > span {
    color: #ff7a25;
}

#layout .header .y-axis .opt-body ul li > div {
    position: relative;
    font-size: 10pt !important;
    color: #6e36ff;
    border: 1px solid #8053f3;
    background-color: #ebe3ff;
    transition: color 0.1s, border 0.1s, background-color 0.1s;
    cursor: pointer;
}

#layout .header .y-axis .opt-body ul li > div:hover {
    color: #895cff;
    border: 1px solid #9a7bf3;
    background-color: #faf7ff;
}

#layout .header .y-axis .opt-body ul li > div:active {
    color: #541bea;
    border: 1px solid #6838e2;
    background-color: #d5c9ff;
}

#layout .header .y-axis .opt-body ul li > div.on {
    color: #ebe3ff;
    border: 1px solid #6e36ff;
    background-color: #6e36ff;
}

#layout .header .y-axis .opt-body ul li span {
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 13pt;
    width: fit-content;
    height: fit-content;
    color: #ebe3ff;
    transition: color 0.1s;
}

#layout .header .y-axis .opt-body ul li > div:hover > span {
    color: #895cff;
}

#layout .content {
    width: calc(100% - 600px);
    height: 100%;
}

#layout .content > table > thead > th {
    text-align: left;
    border-left: none;
    border-right: none;
    height: calc(290px - 36px) !important;
}

#layout .content > table > thead > tr > th:last-child {
    border-right: 1px solid #a5a5a5;
}

#layout .content > table > thead > tr > th > div {
    height: 100%;
}

#layout .content > table > thead > tr > th > div > div {
    display: inline-block;
    height: 100%;
}

#layout .content > table > thead > tr > th table,
#layout .content > table > thead > tr > th table th {
    border-collapse: collapse;
    border: none !important;
}

#layout .content > table > thead > tr > th table th {
    text-align: left;
}

#layout .content > table > thead .select-datetime {
    padding: 15px;
}

#layout .content > table > thead .select-datetime select {
    width: 100px;
    border: 1px solid #9c9c9c;
    border-radius: 0;
    margin-left: 10px;
    padding: 8px;
    cursor: pointer;
}

#layout .content > table > thead .select-datetime select:hover {
    border: 1px solid #409aff;
}

#layout .content > table > thead .select-chart .scroll {
    overflow-y: hidden;
}

#layout .content > table > thead .select-chart .select-chart-btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: #0094c4;
}

#layout .content > table > thead .select-chart .select-chart-btn svg {
    display: block;
}

#layout .content > table > thead .select-chart .select-chart-btn svg ~ div {
    padding-top: 10px;
}

#layout .content > table > thead .select-chart .select-chart-btn > div {
    padding: 7px 30px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#layout .content > table > thead .select-chart .select-chart-btn > div:hover {
    background-color: #def4ff;
}

#layout .content > table > thead .select-chart .select-chart-btn.on > div {
    color: white;
    background-color: #0094c4;
}

#layout .content > table > thead .select-constraint {
}

#layout .content > table > thead .select-constraint h5 {
    margin-bottom: 10px;
}

#layout .content > table > thead .select-constraint > div {
    margin: 15px 0 40px;
}

#layout .content .chart {
    width: 50%;
}

#layout .content .map .map-data {
    height: calc(100% - 48px);
}

#layout .content .map .data {
    height: fit-content;
}

#layout .content .map .data ul {
    display: flex;
}

#layout .content .map .data ul li {
    width: calc(100% / 5);
}

#layout .content .map .data input[type=button] {
    width: calc(100% - 13px);
    color: #01947a;
    background-color: #ecf9f7;
    border: 1px solid #01947a;
    margin: 6px;
    padding: 10px;
    transition: color 0.1s, border 0.1s, background-color 0.1s;
}

#layout .content .map .data input[type=button]:hover {
    color: #1cad95;
    border: 1px solid #1cad95;
    background-color: #faffff;
}

#layout .content .map .data input[type=button]:active {
    color: #006f5b;
    border: 1px solid #006f5b;
    background-color: #e9fffb;
}

#layout .content .map .data input[type=button].on {
    color: #ecf9f7;
    background-color: #01947a;
}
