#select-datetime {
    padding: 15px;

    table {
        td {
            border: none !important;
            padding: 0 10px !important;

            &:first-child {
                text-align: right;
                font-size: 12px;
            }

            &:last-child input.mx-input {
                font-size: 12px;
                height: 30px;
            }
        }
    }

    select {
        position: relative;
        top: -1px;
        font-size: 12px;
        width: 100px;
        height: 30px;
        border: 1px solid #9c9c9c;
        border-radius: 0;
        padding: 5.5px;
        cursor: pointer;

        &:hover {
            border: 1px solid #409aff;
        }
    }
}
