#select-datetime {
    padding: 15px;
}

#select-datetime select {
    position: relative;
    top: -1px;
    width: 100px;
    border: 1px solid #9c9c9c;
    border-radius: 0;
    margin-left: 10px;
    padding: 5.5px;
    cursor: pointer;
}

#select-datetime select:hover {
    border: 1px solid #409aff;
}
