#search-keyword {
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    height: calc(100% - 20px);

    > div {
        height: 100%;
        border: 1px solid #e0e0e0;
        border-radius: 10px;

        > table {
            font-size: 12px;
            border-collapse: collapse;
            height: 50px;

            tbody td {
                background-color: white;
                border-top: {
                    left-radius: 10px;
                    right-radius: 10px;
                };
                padding: 10px 15px;

                &:first-child {
                    text-align: right;
                    font-weight: bold;
                }

                &:last-child {
                    input {
                        padding: 4px 10px;

                        &[type=text] {
                            font-size: 12px;
                            color: #404040;
                            width: calc(100% - 87px);
                            height: 19px;
                            border: 1px solid #a5a5a5;
                            border-radius: 5px;
                        }

                        &[type=button] {
                            position: relative;
                            top: -0.5px;
                            font-size: 12px;
                            background-color: #0072d7;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            margin-left: 10px;
                            padding: 8px 15px;
                            transition: background-color 0.15s;

                            &:hover {
                                background-color: #3496ea;
                            }

                            &:active {
                                background-color: #005fb4;
                            }
                        }
                    }
                }
            }
        }

        > div {
            font-size: 12px;
            height: calc(100% - 70px);
            padding: 10px;

            > table {
                height: 100%;
                border-collapse: collapse;

                colgroup {
                    col:nth-child(1) {
                        width: 70px;
                    }

                    col:nth-child(2) {
                        width: 110px;
                    }

                    col:nth-child(3) {
                        width: 180px;
                    }
                }

                thead th {
                    background-color: #f8f8f8;
                    border: 1px solid #a5a5a5;
                    padding: 10px 15px;

                    &:first-child {
                        border-left: none;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }

                tbody > td {
                    padding: 0 !important;
                }

                tbody td div {
                    overflow-x: hidden;
                    height: 100%;

                    &.scroll {
                        table {
                            height: fit-content;
                            border-collapse: collapse;

                            tbody {
                                tr:hover td {
                                    background-color: #f5f5f5;
                                    cursor: pointer;
                                }

                                tr:active td {
                                    background-color: #e3e3e3;
                                    transition: background-color 0.1s !important;
                                }

                                td {
                                    text-align: center;
                                    border: {
                                        bottom: 1px solid #d5d5d5;
                                        right: 1px solid #d5d5d5;
                                    };
                                    padding: 10px 15px;
                                    transition: background-color 0.2s;
                                    transform: rotate(0.03deg);

                                    &:last-child {
                                        text-align: left;
                                    }
                                }
                            }
                        }

                        div.infinite-loading-container {
                            overflow: hidden !important;
                            height: 50px;

                            div.infinite-status-prompt {
                                overflow: hidden;

                                div.no-results {
                                    font: {
                                        size: 14px;
                                        weight: bold;
                                    };
                                    padding: 15px 0;
                                    transform: rotate(0.03deg);
                                }
                            }
                        }
                    }

                    &.no-data table {
                        font-size: 18px;
                        text-align: center;
                        color: #a5a5a5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #search-keyword {
        height: 500px;

        > div > div > table {
            > colgroup col {
                &:nth-child(1) {
                    width: 15px;
                }

                &:nth-child(2) {
                    width: calc(100% - 15px);
                }
            }

            > tbody > tr > td > div table colgroup col {
                &:nth-child(1) {
                    width: 48px;
                }

                &:nth-child(2) {
                    width: calc(100% - 48px);
                }
            }
        }
    }
}
