@import "../../../../common";

$table-color: #00c3dc;

div.content-chart {
    width: calc(100% - 20px);
    height: calc(100% - 173px) !important;
    border-top: none;
    padding: 10px;

    > div {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 1fr);
        background-color: white;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        border: 1px solid #e0e0e0;
        border-radius: 10px;

        > div {
            margin: 30px 20px;
        }

        &#no-data {
            display: table;
            width: 100%;

            > div {
                display: table-cell;
                vertical-align: middle;
                text-align: center;

                h1 {
                    color: #a5a5a5;
                    letter-spacing: -2px;
                    margin: auto 0;
                }
            }
        }
    }
}

@media screen and (max-width: $reactive-max-width) {
    div.content-chart {
        height: fit-content !important;

        > div {
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, 340px);

            > div {
                margin: 30px 20px 0 20px;
            }
        }

        #no-data {
            height: 400px !important;
        }
    }
}
