.container-wrap.x-axis {
    height: 81px;

    .item-btn {
        background-color: #d75500;

        span.times {
            color: #fffaf9;
        }

        &:hover {
            background-color: #ff7a25;

            span.times {
                color: #ffebe6;
            }
        }

        &:active {
            background-color: #af4400;

            span.times {
                color: #ffe1d8;
            }
        }
    }
}
